/* .sky-gradient-12 { height:100%; background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-gradient-14 { background: linear-gradient(to bottom, #2d91c2 -30%,#1e528e 100%); }
.sky-gradient::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2500%; height: 100%;
    background: inherit;
    transform: translateZ(0);
    opacity: 1;
    transition: opacity 0s 1s;
    z-index: -1;
  } */